/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--font-wght-main);
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 700px;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                    repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
                    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
}

.header {
  background-color: white;
}

.card__title {
  height: 368px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.header__logo {
  font-family: var(--font-accent);
  font-variation-settings: var(--font-wght-accent);
  font-size: var(--main-size);
}

.title__text {
  font-family: var(--font-accent);
  font-variation-settings: var(--font-wght-accent);
  font-size: var(--accent-size);
  margin-top: 20px;
  text-transform: uppercase;
}

.title {
  background-color: white;
  border: 2px solid #000000;
  border-bottom: none;
}

.title__accent {
  font-size: 18px;
  padding: 4px 10px 4px 10px;
}

.text__label {
  position: relative;
}

.image {
  display: block;
  width: 100%;
}

.image--grayscale {
  filter: grayscale(65%);
}

.image__contrast {
  filter: contrast(2);
}

.image__hue-rotate {
  filter: hue-rotate(45deg);
}

.image__invert {
  filter: invert(1) brightness(0.7);
}

.image__sepia {
  filter: sepia(1);
}

.image__blur {
  filter: blur(2px);
}

.image__rotate {
  filter: hue-rotate(45deg) hue-rotate(45deg);;
}

.sprint-3-end .text__label {
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 50%;
  text-shadow: var(--main-shadow);
  z-index: 1;
  top: 28px;
  right: 27px;
}

@supports ((text-stroke: 2px #ffffff) or (-webkit-text-stroke: 2px #ffffff)) {
  .overlay__text {
    text-stroke: 2px #ffffff;
    -webkit-text-stroke: 2px #ffffff;
    text-shadow: none;
    paint-order: stroke fill;
  }
}

.card__text {
  border: 2px solid #000000;
  border-top: none;
  margin-bottom: 50px;
  background-color: white;
}

.article {
  font-size: 18px;
  padding: 25px 25px 2px 25px;
  line-height: 21px;
}

.blok__button {
  display: flex;
  justify-content: flex-end;
  margin: 24px 25px 25px 0;
}

.card__icon-button {
  background: none;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  width: 39px;
  height: 38px;
  padding: 0;
  margin-right: 6px;
  margin-top: 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.icon {
  color: white;
  mix-blend-mode: difference;
  z-index: 1;
  transition: color 0.3s ease;
  flex-shrink: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s ease;
}

.like-icon:hover .core {
  fill: var(--color-countur);
  transition: fill 0.3s ease;
}

.like-icon:active .core {
  fill: var(--color-main-body);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .core {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.06s ease;
}

.like-icon.is-liked .contour {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.06s ease;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--color-countur);
  transition: fill 0.3s 0.05s ease;
}

.like-icon:active .main-body {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.05s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.06s ease;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  fill: var(--color-main-body);
  animation: sparks 0.3s ease-in 0.3s forwards;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
  transform-origin: center center;
}

.button__text {
  font-family: var(--font-accent);
  font-variation-settings: var(--font-wght-accent);
  font-size: 14px;
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

.save__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-button {
  border: 2px solid #000000;
  background: none;
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* анимация кнопки like*/
.card__like-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: black;
  z-index: 1;
  transition: width 0.5s ease-in-out;
}

.card__like-button:hover::before {
  width: 100%;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0;
}

.card__like-button:hover .button__text {
  color: white;
}

.card__like-button:hover .icon {
  color: white;
}

.save__button {
  width: 339px;
  height: 55px;
  background-color: white;
  border: 2px solid #000000;
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

/* анимация кнопки сохранить*/
.save__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: black;
  z-index: -1;
  transition: width 0.5s ease-in-out;
}

.save__button:hover::before {
  width: 100%;
}

.save__button:focus {
  outline: none;
  box-shadow: 2px 2px 0;
}

.save__button:hover {
  transition: box-shadow 0.5s ease-in-out;
}

.save__button:hover .button__text {
  color: white;
}

.save__button:hover .icon {
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.popup {
  font-family: var(--font-accent);
  font-variation-settings: var(--font-wght-accent);
  font-size: 14px;
}

.popup__content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 257px;
  height: 63px;
}

.dialog {
  width: 353px;
  height: 191px;
  border: 2px solid #000000;
  padding: 30px 30px 30px 30px;
  position: fixed;
}

.dialog[open] {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

.text__popup {
  text-transform: uppercase;
  padding-left: 20px;
}

.button__agree {
  background: none;
  outline: none;
  font-family: var(--font-accent);
  width: 257px;
  height: 38px;
  border: 2px solid #000000;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width<=375px) {
  .card__title {
    height: 326px;
  }

  .overlay__text {
    position: absolute;
    font-family: var(--font-accent);
    font-size: 14px;
    opacity: 50%;
    text-shadow: var(--main-shadow);
    top: 25px;
    right: 13px;
  }

  .image {
    height: 375px;
  }

  .save__button {
    width: 310px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }

  .popup__content .icon {
    width: 39px;
    height: 39px;
  }
}

